* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #023357;
  color: #003f6b;
  padding: 2em;
}

#noise {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p, span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
  display: block;
  height: auto;
  width: 50vw;
}

@media screen and (max-width: 768px) {
  section {
    width: 75vw;
  }
}

.browser-container {
  width: 100%;
  height: 100%;
}

.page-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-title {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
  padding: 0.5em 2em 0.5em 0.5em;
  width: fit-content;
  background-color: white;
  clip-path: polygon(
    0% 100%,
    0% 0,
    50% 0,
    80% 0,
    100% 100%
  );
}

#icon {
  width: 20px;
}

.inactive-tab {
  clip-path: none;
  opacity: 0.5;
}

.page-container {
  background-color: white;
  border-radius: 0 0 1em 1em;
}

.search-bar-container {
  padding: 0.5em;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: gainsboro;
  border-radius: 1em;
  padding: 0.25em 0.5em;
}

.search-link {
  color: black;
  font-size: 70%;
}

.fa-star {
  color: gray;
}

.content {
  padding: 2em;
  text-align: center;
}

.content h1 {
  font-style: italic;
  margin-bottom: 0.5em;
}

.divisions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  scale: 80%;
}

.division-link {
  color: white;
  width: fit-content;
  background-color: #023357;
  padding: 0.25em 1em;
  border-radius: 1em;
  transition: 0.3s;
}

.division-link:hover {
  cursor: pointer;
  background-color: gray;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2.25em;
  padding: 0.5em 0 3em 0;
}

.fa-question {
  scale: 110%;
  transform: translateY(1px);
  /* match house icon */
}

nav span {
  color: gray;
  transition: 0.3s;
}

nav span:hover {
  cursor: pointer;
  color:#023357;
  transition: 0.3s;
  scale: 160%;
}

.active {
  color:#023357;
}